p{
    color: black;
    padding: 10px;
    font-family: "Droid Serif", serif;
}

h1{
    color: deeppink;
    font-size: 30px;

}
h2{
    color: red;
    font-size: 30px;

}
h3{
    color: black;

}
h1{
    text-align: center;
}
body{
    background-color: green;
}
a{
    font-size: 25px;
    color: brown;
}
 ul{
     color: black;
     font-family: akaDora, sans-serif;
     padding: 30px;
     font-size: 20px;
 }
 ol{
     font-family: "Century Gothic", serif;
     background: burlywood;
     color: crimson;
     font-size: 20px;
 }
 dl{
     font-family: "Arial Narrow", fantasy;
     background: saddlebrown;
     color: white;
     text-align: center;
 }
